/* Add CSS Styling */
.odd-numbered-elements {
    background-color: lightpink;
    font-style: Verdana, "DejaVu Sans", sans-serif;
}
#second-element {
    font-size: 36px;
    color: blue;
}
.third-element {
    font-size: 24px;
}
#fourth-element {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}